<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <script src="https://kit.fontawesome.com/82049e70d8.js" crossorigin="anonymous"></script>
    <title>AllIntelligence</title>
</head>

<body class="text-center" style="display:block">
    <div class="container">

        <div class="card card-report">
            <div class="card-header">
                <h1><span class="blue-logo">All</span>Intelligence</h1>
            </div>
            <div class="card-body">
                <h3>General information</h3>
                Domain: <strong>{{ domain }}</strong>
            </div>
        </div>

        <div class="card card-report">
            <div class="card-body">
                <h3>OSINT Information</h3>
                {% if osint_information.error %}
                <div class="alert alert-danger" role="alert">
                    {{ osint_information.error }}
                </div>
                {% else %}
                <h5>{% if osint_information.organization %}
                        {{ osint_information.organization }}
                    {% else %}
                        <span class="text-warning">#Organization's name not found#</span>
                    {% endif %}
                </h5>
                <ul class="list-info">
                    {% for email in osint_information.emails %}

                    <li>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{% if email.images %}{{ email.images.0 }}{% else %}https://www.um.es/image/journal/article?img_id=9070070&t=1523450291515{% endif %}"
                                    alt="" class="img-fluid" />
                            </div>
                            <div class="col-md-9" style="text-align: left;">
                                <h4>
                                    {% if email.first_name %}
                                    {{ email.first_name.0 }}
                                    {% if email.last_name %}

                                    {{ email.last_name.0 }}
                                    {% endif %}

                                    {% else %}
                                    *Name not found*

                                    {% endif %}
                                </h4>
                                <p>
                                    {% if email.linkedin %}
                                    <strong>LinkedIn:</strong>
                                    <ul class="list-info">
                                        {% for linkedin in email.linkedin %}
                                        <li>
                                            <a href="{{ linkedin }}" target="_blank"><i class="fab fa-linkedin"></i> {{ linkedin }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>

                                    {% endif %}

                                    {% if email.twitter %}
                                    <strong>Twitter:</strong>
                                    <ul class="list-info">
                                        {% for twitter in email.twitter %}
                                        <li>
                                            <a href="https://twitter.com/{{ twitter }}" target="_blank"><i class="fab fa-twitter"></i> {{ twitter }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}


                                </p>

                            </div>
                        </div>
                    </li>

                    <li><strong>Email:</strong>
                        <ul>
                            {% for mail in email.email %}
                            <li>{{ mail }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><strong>Type:</strong> {{ email.type }}</li>
                    <li>
                        <strong>Confidence:</strong>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ email.confidence }}% ; "
                                aria-valuenow="{{ email.confidence }}" aria-valuemin="0" aria-valuemax="100">
                                {{ email.confidence }}%</div>
                        </div>
                    </li>

                    {% if email.position %}
                    <li><strong>Position:</strong> {{ email.position }}</li>
                    {% endif %}

                    {% if email.seniority %}
                    <li><strong>Seniority:</strong> {{ email.seniority }}</li>
                    {% endif %}

                    {% if email.department %}
                    <li><strong>Department:</strong> {{ email.department }}</li>
                    {% endif %}

                    {% if email.phone_number %}
                    <li><strong>Phone number:</strong>
                        <ul>
                            {% for phone_number in email.phone_number %}
                            {% if phone_number %}
                            <li>
                                {{ phone_number }}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li>
                        <details>
                            <summary><strong>Sources</strong></summary>
                            <p>
                                <ul>
                                    {% for source in email.sources %}
                                    <li>{{ source }}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                        </details>
                    </li>
                    {% if email.passwords %}
                    <li>
                        <details>
                            <summary><strong>Passwords</strong></summary>
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col">Password</th>
                                        <th scope="col">Hash</th>
                                        <th scope="col">Source</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in email.passwords %}
                                    <tr>
                                        <td>
                                            {% if data.password %}
                                                {{ data.password }}
                                            {% else %}
                                                <span class="text-warning">#Not decrypt#</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if data.hash %}
                                                {{ data.hash }}
                                            {% else %}
                                                <span class="text-warning">#Hash not found#</span>
                                            {% endif %}                                        
                                        </td>
                                        <td>
                                            {% if data.origin %}
                                                {{ data.origin }}
                                            {% else %}
                                                <span class="text-warning">#Origin not found#</span>
                                            {% endif %}                                               
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </details>
                    </li>
                    {% endif %}

                    {% if email.images %}
                    <li>
                        <details>
                            <summary><strong>Images</strong></summary>
                            {% for image in email.images %}
                            <img src="{{ image }}" class="img-fluid" style="max-width: 200px;" alt="">
                            {% endfor %}

                        </details>
                    </li>
                    {% endif %}

                    <li>
                        <hr>
                    </li>
                    {% endfor %}

                    {% endif %}
                </ul>

            </div>
        </div>


        <div class="card card-report">
            <div class="card-body">
                <h3>Technical Information</h3>
                <ul>
                    <li>Emails...: google.es</li>
                    <li>aaa</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>


    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>